@(progress: Option[String] = None,
    title: String,
    currentForm: Option[Form[_]] = None)(content: Html)(implicit lang: Lang,
    config: utils.helpers.Config)

@import views.html.common.{progressBar, protoType}
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.errorsSummary
@import views.html.common.govMainDefault

@govMainDefault(title) {
    <div class="vrm-retention-online">
        @protoType()

        <div class="section-content">
            @progressBar(progress)
            
            <h1>@title</h1>

            @errorsSummary(currentForm)

            @content
        </div>
    </div>
}