@(transactionId: String,
    viewModel: models.VehicleLookupFailureViewModel,
    responseMessage: Option[String] = None,
    responseLink: Option[String] = None,
    failureCode: String)(implicit lang: Lang,
    token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
    config: utils.helpers.Config,
    dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import views.html.vrm_retention.lookup_failure.failure_playback
@import views.html.vrm_retention.main
@import views.vrm_retention.LiveAgent.ServiceId
@import views.vrm_retention.LiveAgent.VrmId
@import views.vrm_retention.LiveAgent.V5Id
@import views.vrm_retention.LiveAgent.PostcodeId
@import views.vrm_retention.LiveAgent.FailureCodeId
@import views.vrm_retention.VehicleLookupFailure.ExitId
@import views.vrm_retention.VehicleLookupFailure.TryAgainId
@import views.vrm_retention.VehicleLookupFailure.`v317-id`
@import scala.collection.mutable.LinkedHashMap

@main(
    title =  Messages(s"vehicle-lookup-failure-direct-to-paper-title")
) {
    <div class="two-col">
        <div class="second-col">
            <h2>@Messages("vehicle-lookup-failure-direct-to-paper-title")</h2>
            <p>@Messages("vehicle-lookup-failure-transaction-id") @transactionId</p>
            <p>@Messages(s"vehicle-lookup-failure-direct-to-paper-p1")</p>

            @if(responseMessage.isDefined) {
                @if(responseLink.isDefined) {
                    <p>@Messages(responseMessage.get)
                        <a href="@{Messages(responseLink.get)}"> @{Messages(responseLink.get)}</a>.</p>
                } else {
                    <p>@Messages(responseMessage.get)</p>
                }
            }

            <p>@Messages("vehicle-lookup-failure-direct-to-paper-p1a") <a id="@{`v317-id`}" href="@Messages("link-v317")">@Messages("direct-to-paper-text-v317")</a> @Messages("vehicle-lookup-failure-direct-to-paper-p1b")</p>
            <p>@Messages("vehicle-lookup-failure-direct-to-paper-address-line1")<br/>
            @Messages("vehicle-lookup-failure-direct-to-paper-address-line2")<br/>
            @Messages("vehicle-lookup-failure-direct-to-paper-address-line3")</p>
            <p>@Messages("vehicle-lookup-failure-direct-to-paper-p2")</p>
        </div>
        @failure_playback(viewModel.vehicleDetails, liveAgentDetails = {
            val details: LinkedHashMap[String, String] = LinkedHashMap()
            details += ServiceId -> Messages("main.banner")
            details += VrmId -> viewModel.registrationNumber
            details += V5Id -> viewModel.v5ref
            details += PostcodeId -> viewModel.postcode
            details += FailureCodeId -> failureCode
        })
        <div class="form-steps">
            <a class="button" id="@TryAgainId" href="@controllers.routes.VehicleLookupFailure.tryAgain()" role="button">@Messages("vehicle-lookup-failure-try-again")</a>
            <br/>
            <a class="exit" id="@ExitId" href="@controllers.routes.LeaveFeedback.present()">@Messages("vehicle-lookup-failure-exit")</a>
        </div>
    </div>
}