@(vehicleDetails: uk.gov.dvla.vehicles.presentation.common.model.VehicleAndKeeperDetailsModel,
    showContactDetails : Boolean = true,
    liveAgentDetails: scala.collection.mutable.LinkedHashMap[String, String] = new scala.collection.mutable.LinkedHashMap[String, String])(implicit lang: Lang,
    token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
    config: utils.helpers.Config,
    dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.vehicleDetailPlayback
@import common.views.html.widgets.xmasOpeningTimes
@import views.html.common.liveAgent

<div id="vehicle-details" class="first-col trader-details">
    @vehicleDetailPlayback(vehicleDetails) {
        <br/>
        @if(showContactDetails) {
            @liveAgent(liveAgentDetails)
            <div class="contact-info-wrapper" id ="contact-info-wrapper" name="contact-info-wrapper" style ="...">
            <br/>
            <p>@Messages("success-keeper-application-details-contact-us")</p>
            <p>@Messages("success-keeper-application-details-telephone")</p>
            <p><strong>@Messages("success-keeper-application-details-telephone-number")</strong>
                <strong><small>@Messages("success-keeper-application-details-telephone-number-extension1") @Messages("success-keeper-application-details-telephone-number-extension2") @Messages("success-keeper-application-details-telephone-number-extension3")</small></strong>
            </p>
            <br/>
            <p>@Messages("success-keeper-application-details-monday-to-friday")</p>
            <p>@Messages("success-keeper-application-details-saturday")</p>
            <p>@Messages("success-keeper-application-details-sunday")</p>
            @xmasOpeningTimes()
            <br/>
            <p>@Messages("success-keeper-application-details-textphone")</p>
            <p><strong>@Messages("success-keeper-application-details-textphone-number")</strong></p>
            </div>
        }
    }
</div>
