@(transactionId: String,
    viewModel: models.VehicleLookupFailureViewModel,
    responseCodeVehicleLookupMSErrorMessage: String,
    failureCode: String)(implicit lang: Lang,
    token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
    config: utils.helpers.Config,
    dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import scala.collection.mutable.LinkedHashMap
@import views.html.vrm_retention.lookup_failure.failure_playback
@import views.html.vrm_retention.main
@import views.vrm_retention.LiveAgent.ServiceId
@import views.vrm_retention.LiveAgent.VrmId
@import views.vrm_retention.LiveAgent.V5Id
@import views.vrm_retention.LiveAgent.PostcodeId
@import views.vrm_retention.LiveAgent.FailureCodeId
@import views.vrm_retention.LiveAgent.`webchat-info-id`
@import views.vrm_retention.VehicleLookupFailure.ExitId
@import views.vrm_retention.VehicleLookupFailure.TryAgainId

@displayMessage(message: String) = {
  @if(!message.isEmpty) {
    <p>@Html(message)</p>
  }
}

@main(
    title =  Messages(s"$responseCodeVehicleLookupMSErrorMessage.title")
) {
    <div class="two-col">
        <div class="second-col">
            <h2>@Messages(responseCodeVehicleLookupMSErrorMessage + ".title")</h2>
            <p>@Messages("vehicle-lookup-failure-transaction-id") @transactionId</p>
            <p>@if(Messages.isDefinedAt((s"$responseCodeVehicleLookupMSErrorMessage.p1"))) {
                @displayMessage(Messages(s"$responseCodeVehicleLookupMSErrorMessage.p1"))}</p>
            <p>@if(Messages.isDefinedAt((s"$responseCodeVehicleLookupMSErrorMessage.p2"))) {
                @displayMessage(Messages(s"$responseCodeVehicleLookupMSErrorMessage.p2"))}</p>
            <p>@if(Messages.isDefinedAt((s"$responseCodeVehicleLookupMSErrorMessage.p3"))) {
                @displayMessage(Messages(s"$responseCodeVehicleLookupMSErrorMessage.p3"))}</p>
            <p>@if(Messages.isDefinedAt((s"$responseCodeVehicleLookupMSErrorMessage.p4"))) {
                @displayMessage(Messages(s"$responseCodeVehicleLookupMSErrorMessage.p4"))}</p>
            <p>@if(Messages.isDefinedAt((s"$responseCodeVehicleLookupMSErrorMessage.p5"))) {
                @displayMessage(Messages(s"$responseCodeVehicleLookupMSErrorMessage.p5"))}</p>
            <div id="@{`webchat-info-id`}" style="display: none">
                <p>@Messages("webchat.info.p1") <a href="#" class="ga-track-click-event-once"
                data-ga-event-action="webchat" onclick="liveagent.startChat('@config.liveAgentButtonId')">@Messages("webchat.info.chatlink.text")</a></p>
            </div>
        </div>
        @failure_playback(
          vehicleDetails = viewModel.vehicleDetails,
          showContactDetails = (responseCodeVehicleLookupMSErrorMessage != "vehicle_and_keeper_lookup_document_reference_mismatch"),
          liveAgentDetails = {
            val details: LinkedHashMap[String, String] = LinkedHashMap()
            details += ServiceId -> Messages("main.banner")
            details += VrmId -> viewModel.registrationNumber
            details += V5Id -> viewModel.v5ref
            details += PostcodeId -> viewModel.postcode
            details += FailureCodeId -> failureCode
          }
        )
        <div class="form-steps">
            @if(!responseCodeVehicleLookupMSErrorMessage.startsWith("vrm_retention_eligibility")) {
            <a class="button" id="@TryAgainId" href="@controllers.routes.VehicleLookupFailure.tryAgain()" role="button">@Messages("vehicle-lookup-failure-try-again")</a>
            <br/>
            }
            <a class="exit" id="@ExitId" href="@controllers.routes.LeaveFeedback.present()">@Messages("vehicle-lookup-failure-exit")</a>
        </div>
    </div>
}
