@(field: play.api.data.Field,
    years: Seq[(String, String)],
    args: Map[Symbol, Any] = Map.empty,
    dateService: services.DateService,
    showTodaysDateButton: Boolean = false)(implicit handler: views.html.helper.FieldConstructor, lang: Lang)

@import views.html.helper.dates.datePlaceholder
@import views.html.helper.input
@import mappings.disposal_of_vehicle.Dispose.{DateOfDisposalId, TodaysDateOfDisposal}

@input(field, args.toSeq: _*) { (id, name, value, htmlArgs) =>
    @datePlaceholder(field, id, years, args)

    @if(showTodaysDateButton) {
        <script src="@routes.Assets.at("javascripts/autofill-todays-date.js")" type="text/javascript"></script>

        <div class="step js-only">
            <button id="@TodaysDateOfDisposal" type="button" name="action" class="button" onclick="AutoFillTodaysDate(@{dateService.today.day},
                @{dateService.today.month}, @{dateService.today.year}, '@TodaysDateOfDisposal', '@{DateOfDisposalId}_day', '@{DateOfDisposalId}_month',
            '@{DateOfDisposalId}_year')">@Messages("disposal_dispose.todays_date_of_disposal")</button>
        </div>
    }
}