@()(implicit lang: Lang, token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.routes.BeforeYouStartPart2
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.csrfTokenHiddenField
@import views.html.vrm_retention.main
@import views.vrm_retention.BeforeYouStart.NextId

@main(
    title = Messages("vrm_retention_beforeyoustart.title")
) {
    <div class="two-col clearfix">
        <div class="first-col">
            <p>You can apply to remove a registration number from a vehicle and hold it on a retention document (V778) for as long as required if you’re the registered keeper of the vehicle.</p>
            <p>Once you have successfully retained your registration number you will be able to assign it to a new vehicle immediately or simply hold on to it until you wish to place it on another vehicle.</p>
            <h2>Using the new service</h2>
            <p>To apply online you will need:</p>
            <ol class="list-standard">
                <li>The 11 digit document reference number from the latest registration certificate (V5C) for the vehicle</li>
                <li>A valid payment method to cover the £80 fee charged for this service</li>
            </ol>
            <div class="info-notice">
                This service is performed in real-time, as such any action taken is final and cannot be undone.
            </div>
            <hr>
            <p>Upon a successful retention we will provide your with on screen confirmation as well as sending a copy via e-mail, should you choose to provide one, along with any relevant documentation. You will also receive physical documentation in the post within a few weeks of a successful outcome.</p>
            <p>However, if you would prefer to use the traditional paper service you can download the form here.</p>

            <div class="form-steps">
                @csrfTokenHiddenField()
                @* Note the reverse routing syntax for the hyperlink *@
                <a class="button" id="@NextId" href="@VehicleLookup.present()">@Messages("vrm_retention_beforeyoustart.button")</a>
            </div>

            <p class="beta-info">This service is currently in a beta phase of development. This means that although it will still do everything it is designed to do, it is not quite finished and will in some cases run alongside the older, existing service. For more information please <a href="#">click here</a>.</p>

        </div>
        <div class="second-col">
            <div class="related">
                <h2>Other Digital Services</h2>
                <p><a href="#">Sell a vehicle to the trade</a></p>
            </div>
        </div>
    </div>

}
