@()(implicit lang: Lang, token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.routes.BeforeYouStartPart2
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.csrfTokenHiddenField
@import views.html.vrm_retention.main
@import views.vrm_retention.BeforeYouStart.NextId

@main(
    title = Messages("vrm_retention_beforeyoustart.title")
) {
    <div class="two-col clearfix">
        <div class="first-col">
            <h1>@Messages("vrm_retention_beforeyoustart.title")</h1>
            <p>@Messages("vrm_retention_beforeyoustart.p1")</p>
            <p>@Messages("vrm_retention_beforeyoustart.p2")</p>
            <h2>@Messages("vrm_retention_beforeyoustart.p3")</h2>
            <p>@Messages("vrm_retention_beforeyoustart.p4")</p>
            <ol class="list-standard">
                <li>@Messages("vrm_retention_beforeyoustart.listitem1")</li>
                <li>@Messages("vrm_retention_beforeyoustart.listitem2")</li>
            </ol>
            <div class="info-notice">
                @Messages("vrm_retention_beforeyoustart.p5")
            </div>
            <p>@Messages("vrm_retention_beforeyoustart.p6")</p>
            <p>@Messages("vrm_retention_beforeyoustart.p7")</p>

            <div class="form-steps">
                @csrfTokenHiddenField()
                @* Note the reverse routing syntax for the hyperlink *@
                <a class="button" id="@NextId" href="@BeforeYouStartPart2.present()">@Messages("vrm_retention_beforeyoustart.button")</a>
            </div>

            <p class="beta-info">@Messages("vrm_retention_beforeyoustart.p8") <a href="#">@Messages("vrm_retention_beforeyoustart.p8link")</a>.</p>

        </div>
        <div class="second-col">
            <div class="related">
                <h2>Other Digital Services</h2>
                <p><a href="#">Sell a vehicle to the trade</a></p>
            </div>
        </div>
    </div>

}
