@(confirmViewModel: models.ConfirmViewModel,
        confirmForm: Form[models.ConfirmFormModel])(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import uk.gov.dvla.vehicles.presentation.common.views.helpers.BaseTemplate.fieldConstructor
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.{csrfTokenHiddenField, valtechInputText}
@import views.html.helper.form
@import views.html.vrm_retention.main
@import views.vrm_retention.Confirm._

@main(
    title = Messages("vrm_retention_confirm.title"),
    currentForm = Some(confirmForm),
    backNavigation = Some(controllers.routes.VehicleLookup.present())
) {
    <div class="two-col">
        <div class="second-col">
            <h2>@Messages("vrm_retention_confirm.title")</h2>
            <dl>
                <dt>@Messages("vrm_retention_confirm.keeperLabel")</dt>
                <dt><strong>@confirmViewModel.keeperTitle @confirmViewModel.keeperFirstName @confirmViewModel.keeperLastName </strong></dt>
            </dl>
            <dl>
                <dt>@Messages("vrm_retention_confirm.keeperAddressLabel")</dt>
                <dt>@for(keeperAddressLine <- confirmViewModel.keeperAddress.get.address.init) {
                    <strong>@keeperAddressLine </strong><br>
                    }</dt>
            </dl>
            <dl>
                <dt>@Messages("vrm_retention_confirm.keeperPostcodeLabel")</dt>
                <dt><strong>@confirmViewModel.keeperAddress.get.address.last</strong></dt>
            </dl>
        </div>
        <div class="first-col">
            <dl class="playback">
                <dt><h3>@Messages("vrm_retention_vehicle_callback.title")</h3></dt>
                <dt>@Messages("vrm_retention_vehicle_callback.regNumLabel")</dt>
                <dd class="reg-number">@confirmViewModel.registrationNumber</dd>
                @if(confirmViewModel.vehicleMake.isDefined) {
                    <dt>@Messages("vrm_retention_vehicle_callback.makeLabel")</dt>
                    <dd>@confirmViewModel.vehicleMake.get.take(20)</dd>
                }
                @if(confirmViewModel.vehicleModel.isDefined) {
                    <dt>@Messages("vrm_retention_vehicle_callback.modelLabel")</dt>
                    <dd>@confirmViewModel.vehicleModel.get.take(20)</dd>
                }
            </dl>
        </div>
    </div>

    @form(action = controllers.routes.Confirm.submit()) {
        @csrfTokenHiddenField()
        <div class="two-col">
            <div class="second-col">
                <details>
                    <summary><span class="summary"><strong>@Messages("vrm_retention_confirm.emailWarn")</strong></span></summary>
                    <div class="panel-indent">
                        <p>@Messages("vrm_retention_confirm.emailWarnp1")</p>
                        <p>@Messages("vrm_retention_confirm.emailWarnp2")</p>
                        <p>@Messages("vrm_retention_confirm.emailWarnp3")</p>
                        <p>@Messages("vrm_retention_confirm.emailWarnp4") <a href="https://www.gov.uk/change-name-address-v5c">@Messages("vrm_retention_confirm.emailWarnp4link")</a></p>
                    </div>
                </details>
                <br/>

                @valtechInputText(confirmForm(KeeperEmailId),
                    hintText = {
                        if(confirmViewModel.userType.equals("Keeper")) Some(Messages("vrm_retention_confirm.emailKeeper")) else Some(Messages("vrm_retention_confirm.emailTrade"))
                    },
                    args = Map(
                        'optionalFieldKey -> true,
                        '_label -> Messages("vrm_retention_confirm.emailAddressLabel"),
                        '_showConstraints -> false,
                        'maxLength -> KeeperEmailMaxLength
                    )
                )

            </div>
        </div>

        <div class="form-steps">
            <button id="@ConfirmId" type="submit" name="action" class="button">@Messages("vrm_retention_confirm.button")</button>
            <br/>
            <a id="@ExitId" class="exit" href="@controllers.routes.Confirm.exit()">@Messages("vrm_retention_exit.button")</a>
        </div>
    }
}

@if(config.googleAnalyticsTrackingId.isDefined) {
    <script type="text/javascript">
        track('@KeeperEmailId', 'change');
        track('@ConfirmId', 'click');
        track('@ExitId', 'click');
    </script>
}