@(confirmViewModel: models.domain.vrm_retention.ConfirmViewModel)(implicit lang: Lang, token: filters.csrf_prevention.CsrfPreventionAction.CsrfPreventionToken,config: utils.helpers.Config)

@import controllers.vrm_retention.routes.{Confirm, Payment}
@import mappings.vrm_retention.Confirm._
@import utils.helpers._
@import views.html.vrm_retention.main

@main(
    title = Messages("vrm_retention_confirm.title")
) {

    @Messages("vrm_retention_confirm.intro")
    <div class="alert-warning">
        <p>@Messages("vrm_retention_confirm.warn")</p>
    </div>
    <div class="two-col">
        <div class="first-col">
            <h2>@Messages("vrm_retention_confirm.keeperTitle")</h2>
            <dl class="summary-detail-list first-line">
                <dt>@Messages("vrm_retention_confirm.keeperLabel")</dt>
                <dd>@confirmViewModel.keeperTitle @confirmViewModel.keeperFirstName @confirmViewModel.keeperLastName </dd>
                <dt>@Messages("vrm_retention_confirm.keeperAddressLabel")</dt>
                <dd>@for(keeperAddressLine <- confirmViewModel.keeperAddress.address.init) {
                    @keeperAddressLine,<br>
                }</dd>
                <dt>@Messages("vrm_retention_confirm.keeperPostcodeLabel")</dt>
                <dd>@confirmViewModel.keeperAddress.address.last</dd>
            </dl>
        </div>
        <div class="second-col">
            <h2>@Messages("vrm_retention_vehicle_callback.title")</h2>
            <dl class="summary-detail-list">
                <dt>@Messages("vrm_retention_vehicle_callback.regNumLabel")</dt>
                <dd class="regNum">@confirmViewModel.registrationNumber</dd>
                <dt>@Messages("vrm_retention_vehicle_callback.makeLabel")</dt>
                <dd>@confirmViewModel.vehicleMake</dd>
                <dt>@Messages("vrm_retention_vehicle_callback.modelLabel")</dt>
                <dd>@confirmViewModel.vehicleModel</dd>
            </dl>
        </div>
    </div>

    @if(confirmViewModel.businessName.isDefined) {
    <p>@Messages("vrm_retention_confirm.isBusiness")</p>
    <div class="two-col">
        <div class="first-col">
            <h2>@Messages("vrm_retention_confirm.businessDetailsTitle")</h2>
            <dl class="summary-detail-list first-line">
                <dt>@Messages("vrm_retention_confirm.businessNameLabel")</dt>
                <dd>@confirmViewModel.businessName</dd>
                <dt>@Messages("vrm_retention_confirm.businessAddressLabel")</dt>
                <dd>@for(businessAddressLine <- confirmViewModel.businessAddress.get.address.init) {
                    @businessAddressLine,<br>
                }</dd>
                <dt>@Messages("vrm_retention_confirm.businessPostcodeLabel")</dt>
                <dd>@confirmViewModel.businessAddress.get.address.last</dd>
            </dl>
        </div>
        <div class="second-col">
        </div>
    </div>

 }

    <div class="form-steps">
        @CsrfHelper.hiddenFormField
        @* Note the reverse routing syntax for the hyperlink *@
        <a class="button" id="@ConfirmId" href="@Payment.present()">@Messages("vrm_retention_confirm.button")</a>
        <a class="button" id="@ExitId" href="@Confirm.exit()">@Messages("vrm_retention_exit.button")</a>
    </div>
}