@(cookiesPolicyMap: Map[String, List[uk.gov.dvla.vehicles.presentation.common.model.CookieReport]])(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config,
        dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.cookiesPolicy

@main(
    title = Messages("cookie-policy-title")
) {
    @cookiesPolicy(cookiesPolicyMap)
}
