@(transactionId: String,
        vehicleLookupFailureViewModel: models.VehicleLookupFailureViewModel,
        data: models.VehicleAndKeeperLookupFormModel,
        responseCodeVehicleLookupMSErrorMessage: String,
        attempts: Int,
        maxAttempts: Int)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config,
        dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import views.html.vrm_retention.main
@import views.html.common.failure_playback
@import views.vrm_retention.VehicleLookupFailure.{ExitId, `v317-id`}

@main(
    title =  Messages(s"$responseCodeVehicleLookupMSErrorMessage.title")
) {
    <div class="two-col">
        @failure_playback(viewModel = vehicleLookupFailureViewModel)
        <div class="second-col">
            <h2>@Messages("vrm_retention_eligibility_direct_to_paper.title")</h2>

            <p>@Messages("vehicle-lookup-failure-transaction-id") @transactionId</p>
            <p>@Messages(s"vrm_retention_eligibility_direct_to_paper.p1") <a id="@{`v317-id`}" href="@Messages("link-v317")">@Messages("direct-to-paper-text-v317")</a> @Messages(s"vrm_retention_eligibility_direct_to_paper.p1a")</p>

            <div class="form-steps">
                <a class="exit" id="@ExitId" href="@controllers.routes.LeaveFeedback.present()">@Messages("vrm_retention_vehiclelookupfailure.button2")</a>
            </div>
        </div>
    </div>

    <script data-main="@controllers.StaticAssets.versioned(config.assetsUrl)("javascripts/main.js")" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js")).url"></script>
}