@(vrm: String,
retentionCertId: String,
transactionId: String,
transactionTimestamp: String,
keeperName: String,
keeperAddress: String,
amount: String,
replacementVRM: String,
keeperEmail: Option[String],
businessDetailsModel: Option[BusinessDetailsModel],
businessAddress: String,
isKeeper: Boolean)(implicit lang: Lang)

@Messages("email.withoutHtml")
@Messages("email.title", vrm)
@Messages("email.line1")
@Messages("email.line2")
@Messages("email.line3")
@retentionCertId
@Messages("email.line4")
@transactionTimestamp
@Messages("email.line5")
@transactionId
@Messages("email.line6", vrm)
@Messages("email.line7")
@if(isKeeper) {
    @Messages("email.line8.with-pdf")
} else {
    @Messages("email.line8")
}
@Messages("email.line8")
@Messages("email.line9")
@Html(Messages("email.line10") + vrm + Messages("email.line11"))
@replacementVRM
@if(!isKeeper) {
    @Messages("email.line12")
}
@Messages("email.line13")
@businessDetailsModel.map { businessDetails =>
    @Messages("email.line14")
    @businessDetails.name
    @businessAddress
    @businessDetails.email
}
@Messages("email.line20")
@keeperName
@keeperAddress
@keeperEmail.getOrElse("")
@Messages("email.line21")
@Messages("email.line22")
@Messages("email.line23")
@Messages("email.line24")
@Messages("email.line25")
@Messages("email.line26")
@Messages("email.line27")
@Messages("email.line28")