@(vrm: String,
retentionCertId: String,
transactionId: String,
transactionTimestamp: String,
keeperName: String,
keeperAddress: String,
amount: String,
replacementVRM: String,
crownContentId: String,
openGovernmentLicenceContentId: String)

<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Retention successful for @vrm</title>
    <!-- Targeting Windows Mobile -->
    <!--[if IEMobile 7]>
    <style type="text/css">

    </style>
    <![endif]-->
    <!-- ***********************************************
        ****************************************************
        END MOBILE TARGETING
        ****************************************************
        ************************************************ -->
    <!--[if gte mso 9]>
    <style>
        /* Target Outlook 2007 and 2010 */
    </style>
    <![endif]-->
</head>
<body style="width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; padding: 0;">
<style type="text/css">
    h1 a:active {
    color: red !important;
    }
    h2 a:active {
    color: red !important;
    }
    h3 a:active {
    color: red !important;
    }
    h4 a:active {
    color: red !important;
    }
    h5 a:active {
    color: red !important;
    }
    h6 a:active {
    color: red !important;
    }
    h1 a:visited {
    color: purple !important;
    }
    h2 a:visited {
    color: purple !important;
    }
    h3 a:visited {
    color: purple !important;
    }
    h4 a:visited {
    color: purple !important;
    }
    h5 a:visited {
    color: purple !important;
    }
    h6 a:visited {
    color: purple !important;
    }
    @@media only screen and (max-device-width: 480px) {
    a[href^="tel"] {
    text-decoration: none; color: blue; pointer-events: none; cursor: default;
    }
    a[href^="sms"] {
    text-decoration: none; color: blue; pointer-events: none; cursor: default;
    }
    .mobile_link a[href^="tel"] {
    text-decoration: default; color: orange !important; pointer-events: auto; cursor: default;
    }
    .mobile_link a[href^="sms"] {
    text-decoration: default; color: orange !important; pointer-events: auto; cursor: default;
    }
    }
    @@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    a[href^="tel"] {
    text-decoration: none; color: blue; pointer-events: none; cursor: default;
    }
    a[href^="sms"] {
    text-decoration: none; color: blue; pointer-events: none; cursor: default;
    }
    .mobile_link a[href^="tel"] {
    text-decoration: default; color: orange !important; pointer-events: auto; cursor: default;
    }
    .mobile_link a[href^="sms"] {
    text-decoration: default; color: orange !important; pointer-events: auto; cursor: default;
    }
    }
</style>
<!-- Wrapper/Container Table: Use a wrapper table to control the width and the background color consistently of your email. Use this approach instead of setting attributes on the body tag. -->
<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable"
       style="width: 100% !important; line-height: 100% !important; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-family: Helvetica, Arial, sans-serif, sans; background: #fff; margin: 0; padding: 0;"
       bgcolor="#fff">
    <tr>
        <td id="GovUkContainer" class="spacing"
            style="border-collapse: collapse; color: #fff; background: #000; padding: 0 30px;" bgcolor="#000">
            <table style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                <tr>
                    <td style="border-collapse: collapse; font-size: 1.6em; padding: 20px 0;"><img src="@crownContentId"
                                                                                                   width="35"
                                                                                                   height="31" alt=""
                                                                                                   style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; font-family: Helvetica, Arial, sans-serif, sans;"/>
                        GOV.UK
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" class="spacing" style="border-collapse: collapse; padding: 0 30px;">
            <!-- Tables are the most common way to format your email consistently. Set your table widths inside cells and in most cases reset cellpadding, cellspacing, and border to zero. Use nested tables as a way to space effectively in your message. -->
            <table cellpadding="0" cellspacing="0" border="0" width="100%" id="mainBody"
                   style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
                <tr>
                    <td id="helpTop" valign="top"
                        style="border-collapse: collapse; text-align: right; background: #DEE0E2; padding: 10px; font-family: Helvetica, Arial, sans-serif, sans;"
                        align="right" bgcolor="#DEE0E2">
                        If you need to contact the DVLA, call our helpline on 0300 790 6802
                    </td>
                </tr>
                <tr>
                    <td style="border-collapse: collapse;">
                        <h1 style="color: black !important; font-size: 2em; line-height: 110%; font-family: Helvetica, Arial, sans-serif, sans;">
                            Your application to retain a vehicle registration number</h1>
                    </td>
                </tr>
                <tr>
                    <td style="border-collapse: collapse;">
                        <table class="transDetails"
                               style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
                            <tr>
                                <td style="border-collapse: collapse; width: 33%; text-align: center; padding: 30px 0; font-family: Helvetica, Arial, sans-serif, sans;"
                                    align="center">
                                    Retention Certificate Number
                                    <br/><strong>@retentionCertId</strong>
                                </td>
                                <td style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif, sans; width: 33%; text-align: center; padding: 30px 0;"
                                    align="center">
                                    Transaction Completed
                                    <br/><strong>@transactionTimestamp</strong>
                                </td>
                                <td style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif, sans; width: 33%; text-align: center; padding: 30px 0;"
                                    align="center">
                                    Your Transaction ID is:
                                    <br/><strong>@transactionId</strong>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="successBanner"
                        style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif, sans; text-align: center; color: #fff; background: #28A287; padding: 0 30px;"
                        align="center" bgcolor="#28A287">
                        <h1 style="color: #fff !important; font-size: 2em; line-height: 110%; font-family: Helvetica, Arial, sans-serif, sans;">
                            Retention successful for @vrm</h1>

                        <p style="line-height: 110%; margin: 1em 0; font-family: Helvetica, Arial, sans-serif, sans;">A
                            Certificate of Retention will be now be issued to the registered keeper.</p>

                        <p style="line-height: 110%; margin: 1em 0; font-family: Helvetica, Arial, sans-serif, sans;">We
                            have also sent to you details of the replacement registration number, which are detailed
                            below, along with a PDF of the Letter of Authorisation (V948) which can be downloaded or
                            printed using the link provided.</p>
                    </td>
                </tr>
                <tr>
                    <td class="replacementInfo" style="border-collapse: collapse; text-align: center;" align="center">
                        <h1 style="color: black !important; font-size: 2em; line-height: 110%; font-family: Helvetica, Arial, sans-serif, sans;">
                            Replacement Registration</h1>

                        <p style="line-height: 110%; margin: 1em 0; font-family: Helvetica, Arial, sans-serif, sans;">
                            Now that the personal registration number ‘@vrm’ has been retained, the vehicle has been
                            assigned the
                            following replacement registration:</p>

                        <p style="line-height: 110%; margin: 1em 0;">
                        </p>

                        <p class="skeuPlate" style="line-height: 3em; font-size: 2em; margin: 1em 0;"><span
                                style="border-radius: 6px; font-weight: bold; background: #FFD307; padding: 10px; font-family: Helvetica, Arial, sans-serif, sans;">@replacementVRM</span>
                        </p>

                        <p style="line-height: 110%; margin: 1em 0; font-family: Helvetica, Arial, sans-serif, sans;">To
                            make up the number plates for the replacement registration number assigned, you will need
                            the Letter of Authorisation for a Replacement Registration (V948) which is attached or
                            should you have trouble opening the attachment you can also download the PDF using this link
                            or by pasting the following url in your browser:
                            https://www.gov.uk/personalised-vehicle-registration-numbers/retaining-a-registration-number</p>
                    </td>
                </tr>
                <tr>
                    <td class="actorDetails" style="border-collapse: collapse;">
                        <hr/>
                        <h1 style="color: black !important; font-size: 2em; line-height: 110%; font-family: Helvetica, Arial, sans-serif, sans;">
                            About this transaction</h1>

                        <div class="twoThirds" style="width: 66%; float: left;">
                            <div style="padding: 5px;">
                                <p style="line-height: 110%; margin: 1em 0; font-family: Helvetica, Arial, sans-serif, sans;">
                                    This transaction was completed, with the consent of the registered keeper by:</p>

                                <p style="line-height: 110%; margin: 1em 0; font-family: Helvetica, Arial, sans-serif, sans;">
                                    <strong>Contact Name</strong><br/>
                                    Vehicle Dealer Name Street<br/>
                                    Town/City<br/>
                                    County<br/>
                                    Postcode</p>

                                <p style="line-height: 110%; margin: 1em 0; font-family: Helvetica, Arial, sans-serif, sans;">
                                    emailaddress@@isp.com</p>
                            </div>
                        </div>
                        <div class="oneThird" style="width: 33%; float: left;">
                            <div style="border-left-style: solid; border-left-color: #ccc; border-left-width: 3px; display: block; height: 100%; padding: 5px 5px 5px 30px;">
                                <p style="line-height: 110%; margin: 1em 0; font-family: Helvetica, Arial, sans-serif, sans;">
                                    Registered Keeper:</p>

                                <p style="line-height: 110%; margin: 1em 0; font-family: Helvetica, Arial, sans-serif, sans;">
                                    <strong>@keeperName</strong><br/>
                                    @keeperAddress</p>

                                <p style="line-height: 110%; margin: 1em 0; font-family: Helvetica, Arial, sans-serif, sans;">
                                    emailaddress@@isp.com</p>
                            </div>
                        </div>
                        <div class="clearfix" style="clear: both;"></div>
                    </td>
                </tr>
                <tr>
                    <td style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif, sans;">
                        <h1 style="color: black !important; font-size: 2em; line-height: 110%; font-family: Helvetica, Arial, sans-serif, sans;">
                            New Documentation:</h1>

                        <p style="line-height: 110%; margin: 1em 0; font-family: Helvetica, Arial, sans-serif, sans;">
                            The following documents will be sent to the registered keeper:</p>


                        <ul class="docList" style="border-left-style: solid; border-left-color: #ccc; border-left-width: 5px; display: block; height: 100%; padding: 5px 5px 5px 30px; list-style: none;">
                            <li style="line-height: 150%; list-style: none; font-family: Helvetica, Arial, sans-serif, sans;">
                                A new Vehicle Registration Certificate (V5C) displaying the replacement registration
                                number
                            </li>
                            <li style="line-height: 150%; list-style: none; font-family: Helvetica, Arial, sans-serif, sans;">
                                A new MOT Certificate displaying the replacement registration number*
                            </li>
                            <li style="line-height: 150%; list-style: none; font-family: Helvetica, Arial, sans-serif, sans;">
                                A Retention Certificate for the retained Registration Number
                            </li>
                        </ul>

                        <p style="line-height: 110%; margin: 1em 0; font-family: Helvetica, Arial, sans-serif, sans;">If
                            the keeper has not received a new V5C by [todays date + 15 working days] please advise them
                            to call the DVLA helpline on 0300 790 6802 with the transaction ID listed in the green box
                            above and we will do our upmost to resolve their query promptly. </p>

                        <p style="line-height: 110%; margin: 1em 0; font-family: Helvetica, Arial, sans-serif, sans;">*
                            A new MOT Certificate will only be sent if the vehicle has an existing MOT record.</p>
                    </td>
                </tr>
                <tr>
                    <td style="border-collapse: collapse;">

                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td id="GovUkFooter" class="spacing"
            style="border-collapse: collapse; color: #000; background: #DEE0E2; padding: 0 30px;" bgcolor="#DEE0E2">
            <table style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                <tr>
                    <td style="border-collapse: collapse; font-size: 0.8em; text-align: right; padding: 20px 0;"
                        align="right"><img src="@openGovernmentLicenceContentId"
                                           style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; font-family: Helvetica, Arial, sans-serif, sans;"/>
                        All content is available under the Open government License v2.0, except where otherwise stated
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End of wrapper table --></body>
</html>
