@(vrm: String,
retentionCertId: String,
transactionId: String,
transactionTimestamp: String,
keeperName: String,
keeperAddress: String,
amount: String,
replacementVRM: String,
keeperEmail: Option[String],
businessDetailsModel: Option[BusinessDetailsModel],
businessAddress: String,
sendPdf: Boolean,
isKeeper: Boolean)(implicit lang: Lang)

@Messages("email.withoutHtml")
@Messages("email.title", vrm)
@Messages("email.line2")
@Messages("email.line3")
@retentionCertId
@Messages("email.line4")
@transactionTimestamp
@Messages("email.line5")
@transactionId
@vrm
@Messages("email.line7")
@if(sendPdf) {
    @Messages("email.line8")
}
@Messages("email.line9")
@Messages("email.line10")
@replacementVRM
@if(sendPdf) {
    @Messages("email.line12")
}
@Messages("email.line13")
@if(!isKeeper) {
    @businessDetailsModel.map { businessDetails =>
        @Messages("email.line14")
        @businessDetails.name
        @businessAddress
        @businessDetails.email.toLowerCase
    }
}
@Messages("email.line20")
@keeperName
@keeperAddress
@keeperEmail.getOrElse("").toLowerCase
@Messages("email.line21")
@Messages("email.line22")
@Messages("email.line23")
@Messages("email.line25")
