@(enterAddressManuallyViewModel: models.EnterAddressManuallyViewModel, enterAddressManuallyForm: Form[models.EnterAddressManuallyModel])(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.addressAndPostcode
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.csrfTokenHiddenField
@import models.EnterAddressManuallyModel.Form.AddressAndPostcodeId
@import views.html.helper.form
@import views.html.vrm_retention.main
@import views.vrm_retention.EnterAddressManually.{ExitId, NextId}
@import controllers.routes.BusinessChooseYourAddress
@import controllers.routes.EnterAddressManually

@main(
    progress = Some(Messages("vrm_retention_progress_3")),
    title = Messages("vrm_retention_enteraddressmanually.title"),
    currentForm = Some(enterAddressManuallyForm),
    backNavigation = Some(BusinessChooseYourAddress.present())
) {
    <div class="enter-address-manually uppercase-input sr-only-labels two-col">
        <div class="second-col">
            <h2>@Messages("vrm_retention_setupbusinessdetails.title")</h2>

        @form(action = EnterAddressManually.submit()) {
            @csrfTokenHiddenField()

            @addressAndPostcode(enterAddressManuallyForm(AddressAndPostcodeId))

            <legend>@Messages("address.postcode.label")</legend>
            <div class="read-only-input">@enterAddressManuallyViewModel.businessPostCode</div>
            <div class="form-steps">
                @* Note primary button moved to first button as per https://www.gov.uk/service-manual/user-centered-design/resources/forms.html#buttons *@
                <button id="@NextId" type="submit" name="action" class="button">
                    @Messages("vrm_retention_enteraddressmanually.submitbutton")
                </button>
                <br/>
                <a id="@ExitId" class="exit" href="@EnterAddressManually.exit()">@Messages("vrm_retention_exit.button")</a>
            </div>
        }
        </div>
        <div id="vehicle-details" class="first-col trader-details">


                <dl class="playback">
                    <dt><h3>@Messages("vrm_retention_vehicle_callback.title")</h3></dt>
                    <dt>@Messages("vrm_retention_vehicle_callback.regNumLabel")</dt>
                    <dd class="reg-number">@enterAddressManuallyViewModel.registrationNumber</dd>
                    @if(enterAddressManuallyViewModel.vehicleMake.isDefined) {
                        <dt>@Messages("vrm_retention_vehicle_callback.makeLabel")</dt>
                        <dd>@enterAddressManuallyViewModel.vehicleMake.get.take(20)</dd>
                    }
                    @if(enterAddressManuallyViewModel.vehicleModel.isDefined) {
                        <dt>@Messages("vrm_retention_vehicle_callback.modelLabel")</dt>
                        <dd>@enterAddressManuallyViewModel.vehicleModel.get.take(20)</dd>
                    }
                </dl>

        </div>

</div>
}
