@(exceptionDigest: String)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import views.vrm_retention.Error.SubmitId
@import uk.gov.dvla.vehicles.presentation.common
@import common.views.html.widgets.base.csrfTokenHiddenField
@import views.html.vrm_retention.main
@import views.html.helper.form

@main(
    title = Messages("error.title")
){
    @form(action = controllers.routes.Error.submit(exceptionDigest)) {
        @csrfTokenHiddenField()

        <div class="form-steps">
            <button id="@SubmitId" type="submit" name="action" class="button">@Messages("error.button")</button>
        </div>
    }
}