@(progress: Option[String] = None,
    title: String,
    currentForm: Option[Form[_]] = None,
    backNavigation: Option[Call] = None)(content: Html)(implicit lang: Lang,
    config: utils.helpers.Config,
    config2: utils.helpers.Config2)

@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.errorsSummary
@import views.html.common.{govMainDefault, progressBar, protoType}
@import views.vrm_retention.Main.BackId

@govMainDefault(title) {
    <div class="app vrm-retention-online">

        @protoType()

        <div class="section-content">

            @progressBar(progress)

            @backNavigation.map { call =>
                <div class="back-navigation">
                    <a class="back" id="@BackId" href="@call">@Messages("main.back")</a>
                </div>
            }

            @errorsSummary(currentForm)

            @content

        </div>
        
    </div>
}