@(title: String,
    currentForm: Option[Form[_]] = None,
    backNavigation: Option[Call] = None,
    showLanguageSwitch: Boolean = false,
    showBanner: Boolean = true)(content: Html)(implicit lang: Lang,
    config: utils.helpers.Config,
    dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.errorsSummary
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.prototype
@import views.html.common.govMainDefault
@import views.vrm_retention.Main.BackId

@govMainDefault(title, showLanguageSwitch) {
    <div class="app vrm-retention-online">
        @if(showBanner) {
            @prototype(controllers.routes.FeedbackController.present())
        }

        <div class="section-content">

            @backNavigation.map { call =>
                <div class="back-navigation">
                    <a class="back" id="@BackId" href="@call">@Messages("main.back")</a>
                </div>
            }

            @errorsSummary(currentForm)

            @content

        </div>
        
    </div>
}