@(opening: String,
  closing: String,
  tryAgainTarget: play.api.mvc.Call,
  exitTarget: play.api.mvc.Call)(implicit lang: Lang,
    token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
    config: utils.helpers.Config,
    dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import views.html.vrm_retention.main
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.microServiceError

@main(
    title = Messages("micro_service_error.title")
){
    @microServiceError(opening, closing, tryAgainTarget, exitTarget, Messages("closed.lastDayOpen"))
}
