@()(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config2: utils.helpers.Config)

@import views.html.vrm_retention.main
@import views.vrm_retention.MicroserviceError.{ExitId, TryAgainId}

@main(
    title = Messages("micro_service_error.title")
){
    <h2>@Messages("micro_service_error.title")</h2>
    <p>@Messages("micro_service_error.text")</p>

    <div class="form-steps">
        @* Note the reverse routing syntax for the hyperlink *@
        <a class="button" id="@TryAgainId" href="@controllers.routes.VehicleLookup.present()" role="button">@Messages("micro_service_error.back.button")</a>
        <br/>
        <a class="exit" id="@ExitId" href="@controllers.routes.BeforeYouStart.present()">@Messages("micro_service_error.exit.button")</a>
    </div>

    <script data-main="@controllers.StaticAssets.versioned(config2.assetsUrl)("javascripts/main.js")" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js")).url"></script>
}
