@()(implicit lang: Lang, token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import views.html.vrm_retention.main

@main(
    title = ""
) {
    <ol class="list-standard">
        <div class="form-steps">
            <img src="/vrm-retention/assets/images/feedbackMockTitle.png">
            <img src="/vrm-retention/assets/images/feedbackMock1.png">
            <img src="/vrm-retention/assets/images/feedbackMock2.png">
        </div>
    </ol>

}