@()(implicit lang: Lang, token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import views.html.vrm_retention.main

@main(
    title = ""
) {
    <ol class="list-standard">
        <div class="form-steps">
            <img src="@routes.Assets.at("images/feedbackMockTitle.png")">
            <img src="@routes.Assets.at("images/feedbackMock1.png")">
            <img src="@routes.Assets.at("images/feedbackMock2.png")">
        </div>
    </ol>

}