@(transactionId: String,
        vehicleLookupFailureViewModel: models.VehicleLookupFailureViewModel,
        data: models.VehicleAndKeeperLookupFormModel)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config,
        dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import views.html.vrm_retention.main
@import views.vrm_retention.PaymentFailure.{TryAgainId, ExitId}
@import controllers.routes.PaymentFailure

@main(
    title =  Messages("paymentFailureErrorMessage.title")
) {

    <div class="two-col">
    <div id="vehicle-details" class="first-col trader-details">
                <dl class="playback">
                    <dt><h2>@Messages("vrm_retention_vehicle_callback.title")</h2></dt>
                    <dt>@Messages("vrm_retention_vehicle_callback.regNumLabel")</dt>
                    <dd class="reg-number">@vehicleLookupFailureViewModel.registrationNumber</dd>
                    @if(vehicleLookupFailureViewModel.make.isDefined) {
                        <dt>@Messages("vrm_retention_vehicle_callback.makeLabel")</dt>
                        <dd>@vehicleLookupFailureViewModel.make.get.take(20)</dd>
                    }
                    @if(vehicleLookupFailureViewModel.model.isDefined) {
                        <dt>@Messages("vrm_retention_vehicle_callback.modelLabel")</dt>
                        <dd>@vehicleLookupFailureViewModel.model.get.take(20)</dd>
                    }
                    <br/>
                    <p>@Messages("success-keeper-application-details-contact-us")</p>
                    <p>@Messages("success-keeper-application-details-telephone")</p>
                    <p><strong>@Messages("success-keeper-application-details-telephone-number")</strong> <br/>
                        <small>@Messages("success-keeper-application-details-telephone-number-extension")</small></p>
                    <p><strong>@Messages("success-keeper-application-details-monday-to-friday")</strong></p>
                    <p><strong>@Messages("success-keeper-application-details-saturday")</strong></p>
                    <p><strong>@Messages("success-keeper-application-details-sunday")</strong></p>
                    <br/>
                    <p style="font-size: 14px;">@Messages("success-keeper-application-details-textphone")</p>
                    <p><strong>@Messages("success-keeper-application-details-textphone-number")</strong></p>
                </dl>
        </div>
        <div class="second-col">
            <h1>@Messages("paymentFailureErrorMessage.title")</h1>
            <p>Transaction Id @transactionId</p>
            <p>@Messages("paymentFailureErrorMessage.p1")</p>
            <p>@Messages("paymentFailureErrorMessage.p2")</p>
            <p>@Messages("paymentFailureErrorMessage.p3")</p>

            @{/* Note primary button moved to first button as per https://www.gov.uk/service-manual/user-centered-design/resources/forms.html#buttons */}
            <div class="form-steps">
                @{ /* Note the reverse routing syntax for the hyperlink */ }
                <a id="@TryAgainId" href="@PaymentFailure.submit()" class="button" role="button">@Messages("vrm_retention_paymentfailure.tryagainbutton")</a>
                <br/>
                <a class="exit" id="@ExitId" href="@controllers.routes.LeaveFeedback.present()">@Messages("vrm_retention_paymentfailure.exitbutton")</a>
            </div>
        </div>
    </div>

    <script data-main="@controllers.StaticAssets.versioned(config.assetsUrl)("javascripts/main.js")" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js")).url"></script>
}