@()(implicit lang: Lang, token: filters.csrf_prevention.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.vrm_retention.routes.{Payment, Success}
@import mappings.vrm_retention.Payment._
@import utils.helpers._
@import views.html.vrm_retention.main

@main(
    title = Messages("vrm_retention_payment.title")
) {


    <div class="form-steps">
        <img src="/vrm-retention/assets/images/payMock.png">
    </div>

    <div class="form-steps">
        @CsrfHelper.hiddenFormField
        @* Note the reverse routing syntax for the hyperlink *@
        <a class="button" id="@NextId" href="@Success.present()">@Messages("vrm_retention_payment.button")</a>
        <a class="button" id="@ExitId" href="@Payment.exit()">@Messages("vrm_retention_exit.button")</a>
    </div>
}