@(transactionId: String,
        vehicleLookupFailureViewModel: models.VehicleLookupFailureViewModel,
        data: models.VehicleAndKeeperLookupFormModel)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config,
        dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import views.html.vrm_retention.lookup_failure.failure_playback
@import views.html.vrm_retention.main
@import views.vrm_retention.PaymentPostShutdown.ExitId

@main(
    title =  Messages("paymentPostShutdownErrorMessage.title")
) {
    <div class="two-col">
        <div class="second-col">
            <h2>@Messages("paymentPostShutdownErrorMessage.title")</h2>
            <p>Transaction Id @transactionId</p>
            <p>@Messages("paymentPostShutdownErrorMessage.p1")</p>
            <p>@Messages("paymentPostShutdownErrorMessage.p2")</p>
        </div>
        @failure_playback(vehicleLookupFailureViewModel.vehicleDetails)

        @{/* Note primary button moved to first button as per https://www.gov.uk/service-manual/user-centered-design/resources/forms.html#buttons */}
        <div class="form-steps">
            <a class="button" id="@ExitId" href="@controllers.routes.LeaveFeedback.present()">@Messages("vrm_retention_paymentnotauthorised.exitbutton")</a>
        </div>
    </div>
}