@()(implicit lang: Lang, token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.csrfTokenHiddenField
@import views.html.vrm_retention.main
@import views.vrm_retention.PaymentFailure.ExitId

@main(
    title = Messages("vrm_retention_failure.title")
) {

    <h2>@Messages("vrm_retention_failure.title")</h2>
    <p>@Messages("vrm_retention_failure.text")</p>

    <div class="form-steps">
        @csrfTokenHiddenField()
        @* Note the reverse routing syntax for the hyperlink *@
        <a class="button" id="@ExitId" href="@controllers.routes.LeaveFeedback.present()">@Messages("vrm_retention_paymentfailure.exitbutton")</a>
    </div>

}