@(transactionId: String,
        vehicleLookupFailureViewModel: models.VehicleLookupFailureViewModel)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config,
        dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.csrfTokenHiddenField
@import views.html.vrm_retention.main
@import views.vrm_retention.PaymentFailure.ExitId

@main(
    title =  Messages("vrm_retention_failure.title")
) {
    <div class="two-col">
        <div id="vehicle-details" class="first-col trader-details">
            <h3>@Messages("vrm_retention_vehicle_callback.title")</h3>
            <dl class="playback">
                <dt>@Messages("vrm_retention_vehicle_callback.regNumLabel")</dt>
                <dd class="reg-number">@vehicleLookupFailureViewModel.registrationNumber</dd>
                @if(vehicleLookupFailureViewModel.make.isDefined) {
                    <dt>@Messages("vrm_retention_vehicle_callback.makeLabel")</dt>
                    <dd>@vehicleLookupFailureViewModel.make.get.take(20)</dd>
                }
                @if(vehicleLookupFailureViewModel.model.isDefined) {
                    <dt>@Messages("vrm_retention_vehicle_callback.modelLabel")</dt>
                    <dd>@vehicleLookupFailureViewModel.model.get.take(20)</dd>
                }

                <br/>
                <p>@Messages("success-keeper-application-details-contact-us")</p>
                <p>@Messages("success-keeper-application-details-telephone")</p>
                <p><strong>@Messages("success-keeper-application-details-telephone-number")</strong> <br/>
                    <small>@Messages("success-keeper-application-details-telephone-number-extension")</small></p>
                <p><strong>@Messages("success-keeper-application-details-monday-to-friday")</strong></p>
                <p><strong>@Messages("success-keeper-application-details-saturday")</strong></p>
                <p><strong>@Messages("success-keeper-application-details-sunday")</strong></p>
                <br/>
                <p style="font-size: 14px;">@Messages("success-keeper-application-details-textphone")</p>
                <p><strong>@Messages("success-keeper-application-details-textphone-number")</strong></p>
            </dl>
        </div>
        <div class="second-col">
            <h2>@Messages("vrm_retention_failure.title")</h2>
            <p>Transaction Id @transactionId</p>
            <p>@Messages("vrm_retention_failure.text")</p>

            <div class="form-steps">
                @csrfTokenHiddenField()
                @* Note the reverse routing syntax for the hyperlink *@
                <a class="button" id="@ExitId" href="@controllers.routes.LeaveFeedback.present()" role="button">@Messages("vrm_retention_paymentfailure.exitbutton")</a>
            </div>
        </div>
    </div>

    <script data-main="@controllers.StaticAssets.versioned(config.assetsUrl)("javascripts/main.js")" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js")).url"></script>
}