@()(implicit lang: Lang, token: filters.csrf_prevention.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.vrm_retention.routes.{BeforeYouStart, VehicleLookup}
@import mappings.vrm_retention.BeforeYouStart._
@import utils.helpers._
@import views.html.vrm_retention.main

@main(
    title = Messages("vrm_retention_beforeyoustart.title")
) {

    <dl class="summary-detail-list">
      <dt>Trader name</dt>

      <dd>TOM'S AUTOS</dd>

      <dt>Postcode</dt>

      <dd>CF3 6AA</dd>
    </dl>

    <h2>No addresses found for that postcode. Click the back button to enter a different
    postcode or enter an address manually.</h2><br />
    <a id="enterAddressManuallyButton" href="enter-address-manually"
    name="enterAddressManuallyButton">My address is not in the list</a>

    <div class="form-steps">
      <a id="backButton" href="select-address" class=
      "button-secondary" name="backButton">Back</a>
    </div>
    <div class="form-steps">
    <!--    <a class="button" id="@NextId" href="select-address">Find Address</a> -->
    </div>
}