@(setupBusinessDetailsFormModel: Form[viewmodels.SetupBusinessDetailsFormModel],
        viewModel: viewmodels.SetupBusinessDetailsViewModel)(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.routes.SetUpBusinessDetails
@import uk.gov.dvla.vehicles.presentation.common.mappings.Postcode
@import uk.gov.dvla.vehicles.presentation.common.views.helpers.BaseTemplate.fieldConstructor
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.{csrfTokenHiddenField, valtechInputText}
@import views.html.helper.form
@import views.html.vrm_retention.main
@import views.vrm_retention.SetupBusinessDetails._

@main(
    title = Messages("vrm_retention_setupbusinessdetails.title"),
    currentForm = Some(setupBusinessDetailsFormModel)
) {
    @form(action = SetUpBusinessDetails.submit) {
        @csrfTokenHiddenField()

        <div class="uppercase-input two-col">
            <div id="vehicle-details" class="first-col trader-details">
                <h2>@Messages("vrm_retention_vehicle_callback.title")</h2>
                <dl class="summary-detail-list">
                    <dt>@Messages("vrm_retention_vehicle_callback.regNumLabel")</dt>
                    <dd class="regNum">@viewModel.registrationNumber</dd>
                    @if(viewModel.vehicleMake.isDefined) {
                        <dt>@Messages("vrm_retention_vehicle_callback.makeLabel")</dt>
                        <dd>@viewModel.vehicleMake.get.take(20)</dd>
                    }
                    @if(viewModel.vehicleModel.isDefined) {
                        <dt>@Messages("vrm_retention_vehicle_callback.modelLabel")</dt>
                        <dd>@viewModel.vehicleModel.get.take(20)</dd>
                    }
                </dl>
            </div>

        	<div class="second-col">
	        @valtechInputText(setupBusinessDetailsFormModel(BusinessNameId), args =
	                Map('_label -> Messages("vrm_retention_setupbusinessdetails.businessnamelabel"),
	                    '_showConstraints -> false,
	                    'maxLength -> BusinessNameMaxLength))
            @valtechInputText(setupBusinessDetailsFormModel(BusinessContactId), args =
                    Map('_label -> Messages("vrm_retention_setupbusinessdetails.businesscontactlabel"),
                        '_showConstraints -> false,
                        'maxLength -> BusinessContactMaxLength))
            @valtechInputText(setupBusinessDetailsFormModel(BusinessEmailId), args =
                    Map('_label -> Messages("vrm_retention_setupbusinessdetails.businessemaillabel"),
                        '_showConstraints -> false,
                        'maxLength -> BusinessEmailMaxLength))
            @valtechInputText(setupBusinessDetailsFormModel(BusinessPostcodeId), args =
	                Map('_label -> Messages("vrm_retention_setupbusinessdetails.businesspostcodelabel"),
	                    '_showConstraints -> false,
	                    'maxLength -> Postcode.MaxLength))

	        	<div class="form-steps">
	            	<button id="@SubmitId" type="submit" name="action" class="button">@Messages("vrm_retention_setupbusinessdetails.button")</button>
                    <a class="button-secondary" id="@ExitId" href="@controllers.routes.MockFeedback.present()">@Messages("vrm_retention_exit.button")</a>
                </div>
	    	</div>
      	</div>
    }
}