@(setupBusinessDetailsFormModel: Form[models.domain.vrm_retention.SetupBusinessDetailsFormModel],
        viewModel: models.domain.vrm_retention.SetupBusinessDetailsViewModel)(implicit lang: Lang,
        token: filters.csrf_prevention.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.vrm_retention.routes.SetUpBusinessDetails
@import mappings.common.Postcode
@import mappings.vrm_retention.SetupBusinessDetails._
@import utils.helpers.BaseTemplate.fieldConstructor
@import utils.helpers.CsrfHelper
@import views.html.vrm_retention.main
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.valtechInputText
@import views.html.helper.form

@main(
    title = Messages("vrm_retention_setupbusinessdetails.title"),
    currentForm = Some(setupBusinessDetailsFormModel)
) {
    @form(action = SetUpBusinessDetails.submit) {
        @CsrfHelper.hiddenFormField

        <div class="uppercase-input two-col">
        	<div class="first-col">
	        @valtechInputText(setupBusinessDetailsFormModel(BusinessNameId), args =
	                Map('_label -> Messages("vrm_retention_setupbusinessdetails.businessnamelabel"),
	                    '_showConstraints -> false,
	                    'maxLength -> BusinessNameMaxLength))
            @valtechInputText(setupBusinessDetailsFormModel(BusinessContactId), args =
                    Map('_label -> Messages("vrm_retention_setupbusinessdetails.businesscontactlabel"),
                        '_showConstraints -> false,
                        'maxLength -> BusinessContactMaxLength))
            @valtechInputText(setupBusinessDetailsFormModel(BusinessPostcodeId), args =
	                Map('_label -> Messages("vrm_retention_setupbusinessdetails.businesspostcodelabel"),
	                    '_showConstraints -> false,
	                    'maxLength -> Postcode.MaxLength))

	        	<div class="form-steps">
	            	<button id="@SubmitId" type="submit" name="action" class="button">@Messages("vrm_retention_setupbusinessdetails.button")</button>
                    <a class="button-secondary" id="@ExitId" href="@controllers.vrm_retention.routes.MockFeedback.present()">@Messages("vrm_retention_exit.button")</a>
                </div>
	    	</div>
	        <div id="vehicle-details" class="second-col trader-details">
            	<h2>@Messages("vrm_retention_vehicle_callback.title")</h2>
	            <dl class="summary-detail-list">
	                <dt>@Messages("vrm_retention_vehicle_callback.regNumLabel")</dt>
	                <dd class="regNum">@viewModel.registrationNumber</dd>
                    @if(viewModel.vehicleMake.isDefined) {
                        <dt>@Messages("vrm_retention_vehicle_callback.makeLabel")</dt>
                        <dd>@viewModel.vehicleMake.get.take(20)</dd>
                    }
                    @if(viewModel.vehicleModel.isDefined) {
                        <dt>@Messages("vrm_retention_vehicle_callback.modelLabel")</dt>
                        <dd>@viewModel.vehicleModel.get.take(20)</dd>
                    }
	            </dl>
        	</div>
      	</div>
    }
}