@()(implicit lang: Lang, token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config2: utils.helpers.Config)

@import views.html.vrm_retention.main

@main(
    title = Messages("soap_endpoint_error.title")
){
    <p>@Messages("soap_endpoint_error.text")</p>

    <div class="form-steps">
        @{ /* Note the reverse routing syntax for the hyperlink */ }
        <a class="exit" id="exit" href="@controllers.routes.BeforeYouStart.present()" role="button">@Messages("soap_endpoint_error.exit.button")</a>
    </div>
}

<script data-main="@controllers.StaticAssets.versioned(config2.assetsUrl)("javascripts/main.js")" src="@controllers.StaticAssets.versioned(config2.assetsUrl)("lib/requirejs/require.js")"></script>