@(successViewModel: models.domain.vrm_retention.SuccessViewModel)(implicit lang: Lang, token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.vrm_retention.routes.Success
@import mappings.vrm_retention.Success.ExitId
@import helper._
@import views.html.helper.base._
@import uk.gov.dvla.vehicles.presentation.common.views.helpers.BaseTemplate.fieldConstructor
@import utils.helpers._
@import views.html.vrm_retention.main

@main(
    title = Messages("vrm_retention_success.title")
) {

	<div class="alert-complete">
	    <h2>@Messages("vrm_retention_success.subtitle") @successViewModel.registrationNumber </h2>
	    <p>@Messages("vrm_retention_success.yourCert") @successViewModel.retentionCertificationNumber </p>
	    <p>@Messages("vrm_retention_success.infoMsg")</p>
	</div>
	<h2>@Messages("vrm_retention_success.replacementTitle")</h2>
	<p>@Messages("vrm_retention_success.retainConf-p1") @successViewModel.registrationNumber @Messages("vrm_retention_success.retainConf-p2")</p>
	<div class="alert-passive success-playback">
		<div class="two-col">
			<div class="first-col">
                <dl class="summary-detail-list">
                    <dt>@Messages("vrm_retention_success.replacementRegNumberLabel")</dt>
                    <dd>@successViewModel.replacementRegistrationNumber</dd>
                    @if(successViewModel.vehicleMake.isDefined) {
                        <dt>@Messages("vrm_retention_vehicle_callback.makeLabel")</dt>
                        <dd>@successViewModel.vehicleMake.get.take(20)</dd>
                    }
                    @if(successViewModel.vehicleModel.isDefined) {
                        <dt>@Messages("vrm_retention_vehicle_callback.modelLabel")</dt>
                        <dd>@successViewModel.vehicleModel.get.take(20)</dd>
                    }
                </dl>
			</div>
			<div class="second-col">
				<p><strong>@Messages("vrm_retention_success.makingUp-p1")</strong></p>
				<p>@Messages("vrm_retention_success.makingUp-p2")</p>
				<a class="pdfLink" href="@Success.createPdf()">
					<img src="/vrm-retention/assets/images/PDF_download.png" alt="Download PDF">
					@Messages("vrm_retention_success.newPlateLink") @successViewModel.replacementRegistrationNumber
				</a>
			</div>
		</div>
	</div>
	<h2>@Messages("vrm_retention_success.newDocumentsTitle")</h2>
		<p>@Messages("vrm_retention_success.newDocumentsDesc")</p>
		<div class="two-col">
			<div class="first-col">
				<div class="alert-indent">
					<p>@Messages("vrm_retention_success.newDocumentsList-1")</p>
					<p>@Messages("vrm_retention_success.newDocumentsList-2")</p>
					<p>@Messages("vrm_retention_success.newDocumentsList-3")</p>
				</div>
			</div>
			<div class="second-col">
				<p><strong>@successViewModel.keeperTitle @successViewModel.keeperFirstName @successViewModel.keeperLastName </strong></p>
				<p>
					@for(keeperAddressLine <- successViewModel.keeperAddress.get.address.init) {
                    	@keeperAddressLine<br>
                	}
                    @successViewModel.keeperAddress.get.address.last
            	</p>
			</div>
		</div>
		<h2>@Messages("vrm_retention_success.aboutTransactionTitle")</h2>
	@if(successViewModel.businessName.isDefined) {
		<p>@Messages("vrm_retention_success.aboutTransactionDesc")</p>
		<div class="two-col">
			<div class="first-col">
                <h3>@successViewModel.businessName</h3>
                <h3>@successViewModel.businessContact</h3>
				<p>
					@for(businessAddressLine <- successViewModel.businessAddress.get.address.init) {
                    	@businessAddressLine<br>
                	}
                    @successViewModel.businessAddress.get.address.last
			</div>
			<div class="second-col">
				@*<label>@Messages("vrm_retention_success.aboutTransactionEmployeeLabel")</label> *@
				@*<input type="text">*@
				<dl class="summary-detail-list transaction-details">
					<dt>@Messages("vrm_retention_success.aboutTransactionIdLabel")</dt>
					<dd> @successViewModel.transactionId</dd>
					<dt>@Messages("vrm_retention_success.aboutTransactionCompletedLabel")</dt>
					<dd> @successViewModel.transactionTimestamp</dd>
				</dl>
			</div>
		</div>
	} else {
				<dl class="summary-detail-list transaction-details">
					<dt>@Messages("vrm_retention_success.aboutTransactionIdLabel")</dt>
					<dd> @successViewModel.transactionId</dd>
					<dt>@Messages("vrm_retention_success.aboutTransactionCompletedLabel")</dt>
					<dd> @successViewModel.transactionTimestamp</dd>
				</dl>

	}
	<button id="printRetainSuccess" type="button" name="action" value="printRetainSuccess" class="button js-only print-button">@Messages("global.buttonnavprint")</button>
    <a class="button-secondary" id="@ExitId" href="@controllers.vrm_retention.routes.MockFeedback.present()">@Messages("vrm_retention_exit.button")</a>

}