@()(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import views.html.vrm_retention.main
@import views.vrm_retention.UprnNotFound.{ManualAddressButtonId, SetupBusinessDetailsButtonId}

@main(
    title = Messages("vrm_retention_uprnnotfound.title")
) {
    <h1>@Messages("vrm_retention_uprnnotfound.title")</h1>
    <p>@Messages("vrm_retention_uprnnotfound.p1")</p>

    <div class="form-steps">
        @* Note the reverse routing syntax for the hyperlink *@
        <a class="button" id="@ManualAddressButtonId" href="@controllers.routes.EnterAddressManually.present()">@Messages("vrm_retention_uprnnotfound.setuptradedetailsbutton")</a>
        <br /><br />
        <a id="@SetupBusinessDetailsButtonId" href="@controllers.routes.SetUpBusinessDetails.present()">@Messages("vrm_retention_uprnnotfound.manualaddressbutton")</a>
    </div>
}