@()(implicit lang: Lang,
        token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config2: utils.helpers.Config)

@import views.html.vrm_retention.main
@import views.vrm_retention.UprnNotFound.{ManualAddressId, SetupBusinessDetailsId}

@main(
    title = Messages("vrm_retention_uprnnotfound.title")
) {
    <h2>@Messages("vrm_retention_uprnnotfound.title")</h2>
    <p>@Messages("vrm_retention_uprnnotfound.p1")</p>

    <div class="form-steps">
        @* Note the reverse routing syntax for the hyperlink *@
        <a class="button" id="@ManualAddressId" href="@controllers.routes.EnterAddressManually.present()" role="button">@Messages("vrm_retention_uprnnotfound.setuptradedetailsbutton")</a>
        <br /><br />
        <a id="@SetupBusinessDetailsId" href="@controllers.routes.SetUpBusinessDetails.present()">@Messages("vrm_retention_uprnnotfound.manualaddressbutton")</a>
    </div>
}

<script data-main="@controllers.StaticAssets.versioned(config2.assetsUrl)("javascripts/main.js")" src="@controllers.StaticAssets.versioned(config2.assetsUrl)("lib/requirejs/require.js")"></script>