@()(implicit lang: Lang, token: filters.csrf_prevention.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import controllers.vrm_retention.routes.{BeforeYouStart, VehicleLookup}
@import mappings.vrm_retention.BeforeYouStart._
@import utils.helpers._
@import views.html.vrm_retention.main

@main(
    title = Messages("vrm_retention_beforeyoustart.title")
) {

<form action="/disposal-of-vehicle/setup-trade-details" method="POST">
    

    <input type="hidden" name="csrfToken" value="50dd92c0d04146bbd34b72eab70bf7e3645e4fd3-1403253270117-f5e53883957e46b2ed02db48">

    
    
    










    <div class="form-item">


    

    

    
    


<label for="traderName">
             
    




Trader name


</label>

    <input type="text" id="traderName" name="traderName" value="" aria-required="true" maxlength="58" autocomplete="off">


    

    
</div>




    










    <div class="form-item">


    

    

    
    


<label for="traderPostcode">
          
    




Postcode


</label>

    <input type="text" id="traderPostcode" name="traderPostcode" value="" aria-required="true" maxlength="8" autocomplete="off">


    

    
</div>

    
</form>
    <div class="form-steps">
        <a class="button" id="@NextId" href="select-address">Find Address</a>
    </div>
}