@(vehicleAndKeeperLookupForm: Form[models.VehicleAndKeeperLookupFormModel])(implicit lang: Lang,
    token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
    config: utils.helpers.Config)

@import uk.gov.dvla.vehicles.presentation.common.mappings.{DocumentReferenceNumber, Postcode, VehicleRegistrationNumber}
@import uk.gov.dvla.vehicles.presentation.common.views.helpers.BaseTemplate.fieldConstructor
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.{csrfTokenHiddenField, valtechInputText}
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.listRadioGroup
@import views.html.helper.form
@import views.html.vrm_retention.main
@import views.vrm_retention.VehicleLookup._

@main(
    title = Messages("vrm_retention_vehiclelookup.title"),
    currentForm = Some(vehicleAndKeeperLookupForm)
) {
    @form(action = controllers.routes.VehicleLookup.submit()) {
        @csrfTokenHiddenField()
        <div class="two-col clearfix vehicle-lookup">
            <div class="second-col">
                <div class="img-wrap img-wrap-desktop related">
                    <h2>You will need</h2>
                    <p>Vehicle Registration Certificate (V5C)</p>
                    <img src="@routes.Assets.at("images/document-reference-number.png")" alt="V5C document reference number">
                </div>
            </div>

            <div class="uppercase-input first-col">
                <div class="info-notice ">
                    <p>Please note, you will require the document reference number from the latest V5C. Without this, you cannot use the online service.</p>
                </div>

                @valtechInputText(vehicleAndKeeperLookupForm(VehicleRegistrationNumberId), hintText = Some(Messages("vrm_retention_vehiclelookup.vrnHint")),
                    args = Map(
                        '_label -> Messages("vrm_retention_vehiclelookup.vrninputlabel"),
                        'maxLength -> VehicleRegistrationNumber.MaxLength,
                        'hintText -> Messages("vrm_retention_vehiclelookup.vrnHint"),
                        '_showConstraints -> false
                    )
                )

                @valtechInputText(vehicleAndKeeperLookupForm(DocumentReferenceNumberId), hintText = Some(Messages("vrm_retention_vehiclelookup.refnumHint")),
                    args = Map(
                        '_label -> Messages("vrm_retention_vehiclelookup.refnumlabel"),
                        'hint -> Messages("vrm_retention_vehiclelookup.refnumHint"),
                        '_showConstraints -> false,
                        //'pattern -> ReferenceNumber.Pattern, // [SKW] Taken off HTML5 validation - for accessibility Tony removed have 'title text as the screen reader reads it twice, the knock-on effect is that our custom validation messages aren't displayed so the user has no idea what is wrong.
                        'maxLength -> DocumentReferenceNumber.MaxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                        //'title -> Messages("error.validDocumentReferenceNumber")
                        'title -> Messages("")
                    )
                )

                @valtechInputText(vehicleAndKeeperLookupForm(PostcodeId), hintText = Some(Messages("vrm_retention_vehiclelookup.postcodeHint")),
                    args = Map(
                        '_label -> Messages("vrm_retention_vehiclelookup.postcodelabel"),
                        '_showConstraints -> false,
                        'maxLength -> Postcode.MaxLength
                    )
                )

                @listRadioGroup(field = vehicleAndKeeperLookupForm("keeperConsent"),
                    args = Map(
                        'items -> Seq(
                            UserType_Business -> Messages("vrm_retention_vehiclelookup.business"),
                            UserType_Keeper -> Messages("vrm_retention_vehiclelookup.keeper")
                        ),
                        'value -> UserType_Business, // One radio button is checked when user arrives on the page.
                        '_label -> Messages("vrm_retention_vehiclelookup.label")
                    )
                )

                @{/* Note primary button moved to first button as per https://www.gov.uk/service-manual/user-centered-design/resources/forms.html#buttons */}
                <div class="form-steps">
                    <button id="@SubmitId" type="submit" name="action" class="button">@Messages("vrm_retention_vehiclelookup.button")</button>
                </div>
            </div>
        </div>
    }
}
