@(vehicleAndKeeperLookupForm: Form[models.VehicleAndKeeperLookupFormModel])(implicit lang: Lang,
    token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
    config: utils.helpers.Config)

@import mappings.common.vrm_retention.Postcode
@import uk.gov.dvla.vehicles.presentation.common.mappings.{DocumentReferenceNumber, VehicleRegistrationNumber}
@import uk.gov.dvla.vehicles.presentation.common.views.helpers.BaseTemplate.fieldConstructor
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.{csrfTokenHiddenField, valtechInputText}
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.listRadioGroup
@import views.html.helper.form
@import views.html.vrm_retention.main
@import views.vrm_retention.VehicleLookup._
@import uk.gov.dvla.vehicles.presentation.common.views.models.RadioWithHint

@main(
    title = Messages("vrm_retention_vehiclelookup.title"),
    currentForm = Some(vehicleAndKeeperLookupForm)
) {
    @form(action = controllers.routes.VehicleLookup.submit()) {
        @csrfTokenHiddenField()
        <div class="two-col clearfix vehicle-lookup">

            <div class="second-col uppercase-input">
                <h2>@Messages("vrm_retention_vehiclelookup.title")</h2>

                @valtechInputText(vehicleAndKeeperLookupForm(VehicleRegistrationNumberId), hintText = Some(Messages("vrm_retention_vehiclelookup.vrnHint")),
                    args = Map(
                        '_label -> Messages("vrm_retention_vehiclelookup.vrninputlabel"),
                        'maxLength -> VehicleRegistrationNumber.MaxLength,
                        '_showConstraints -> false
                    )
                )

                @valtechInputText(vehicleAndKeeperLookupForm(DocumentReferenceNumberId), hintText = Some(Messages("vrm_retention_vehiclelookup.refnumHint")),
                    args = Map(
                        '_label -> Messages("vrm_retention_vehiclelookup.refnumlabel"),
                        '_showConstraints -> false,
                        //'pattern -> ReferenceNumber.Pattern, // [SKW] Taken off HTML5 validation - for accessibility Tony removed have 'title text as the screen reader reads it twice, the knock-on effect is that our custom validation messages aren't displayed so the user has no idea what is wrong.
                        'maxLength -> DocumentReferenceNumber.MaxLength, // Must be set independently of the pattern as the pattern is only checked when the user submits.
                        //'title -> Messages("error.validDocumentReferenceNumber")
                        'title -> Messages("")
                    )
                )

                @valtechInputText(vehicleAndKeeperLookupForm(PostcodeId), hintText = Some(Messages("vrm_retention_vehiclelookup.postcodeHint")),
                    args = Map(
                        '_label -> Messages("vrm_retention_vehiclelookup.postcodelabel"),
                        '_showConstraints -> false,
                        'NO_OPTIONAL_LABEL -> true,
                        'maxLength -> Postcode.MaxLength
                    )
                )

                <h3>@Messages("vrm_retention_vehiclelookup.label")</h3>

                @listRadioGroup(field = vehicleAndKeeperLookupForm(KeeperConsentId),
                    optionsWithHint = Seq(
                        RadioWithHint(UserType_Business, Messages("vrm_retention_vehiclelookup.business"), ""),
                        RadioWithHint(UserType_Keeper, Messages("vrm_retention_vehiclelookup.keeper"), "")
                    ),
                    args = Map(
                        '_label -> Messages("")
                    )
                )

                @{/* Note primary button moved to first button as per https://www.gov.uk/service-manual/user-centered-design/resources/forms.html#buttons */}
                <div class="form-steps">
                    <button id="@SubmitId" type="submit" name="action" class="button">@Messages("vrm_retention_vehiclelookup.button")</button>
                </div>
            </div>
            <div class="first-col">
                <div class="img-wrap related">
                    <h3>@Messages("vrm_retention_vehiclelookup.intro")</h3>
                    <p>@Messages("vrm_retention_vehiclelookup.v5c")</p>
                    <img src="@controllers.StaticAssets.versioned(config.assetsUrl)("images/document-reference-number.png")" alt="@Messages("document-reference-number-alt")">
                </div>
            </div>
        </div>

    }

    <script data-main="@controllers.StaticAssets.versioned(config.assetsUrl)("javascripts/main.js")" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.min.js")).url"></script>
}