@(transactionId: String, vehicleLookupFailureViewModel: models.VehicleLookupFailureViewModel, data: models.VehicleAndKeeperLookupFormModel,
        responseCodeVehicleLookupMSErrorMessage: String,
        attempts: Int,
        maxAttempts: Int)(implicit lang: Lang, token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
        config: utils.helpers.Config)

@import views.html.vrm_retention.main
@import views.vrm_retention.VehicleLookupFailure.{ExitId, VehicleLookupId}
@import views.vrm_retention.Main.BackId

@main(
    title =  Messages(s"$responseCodeVehicleLookupMSErrorMessage.title")
) {
    <div class="two-col">
    <div id="vehicle-details" class="first-col trader-details">
                <h1>@Messages("vehicle_and_keeper_lookup_vrm_not_found.title")</h1>
                <h2>@Messages("vrm_retention_vehicle_callback.title")</h2>
                <dl class="playback">
                    <dt>@Messages("vrm_retention_vehicle_callback.regNumLabel")</dt>
                    <dd class="reg-number">@vehicleLookupFailureViewModel.registrationNumber</dd>
                    @if(vehicleLookupFailureViewModel.make.isDefined) {
                        <dt>@Messages("vrm_retention_vehicle_callback.makeLabel")</dt>
                        <dd>@vehicleLookupFailureViewModel.make.get.take(20)</dd>
                    }
                    @if(vehicleLookupFailureViewModel.model.isDefined) {
                        <dt>@Messages("vrm_retention_vehicle_callback.modelLabel")</dt>
                        <dd>@vehicleLookupFailureViewModel.model.get.take(20)</dd>
                    }
                </dl>
        </div>
        <div class="second-col">
            <p>Transaction Id @transactionId</p>
            <p>@Messages(s"$responseCodeVehicleLookupMSErrorMessage.p1")</p>
            <p>@Messages(s"$responseCodeVehicleLookupMSErrorMessage.p2")</p>
            <p>@Messages(s"$responseCodeVehicleLookupMSErrorMessage.p3")</p>
            <br>
            @if(responseCodeVehicleLookupMSErrorMessage.startsWith("vrm_retention_eligibility_direct_to_paper")) {
               <p><a href="https://www.gov.uk/government/publications/application-to-transfer-or-retain-a-vehicle-registration-number">Download V317</a></p>
            }

            @{/* Note primary button moved to first button as per https://www.gov.uk/service-manual/user-centered-design/resources/forms.html#buttons */}
            <div class="form-steps">
                @{ /* Note the reverse routing syntax for the hyperlink */ }
                @if(!responseCodeVehicleLookupMSErrorMessage.startsWith("vrm_retention_eligibility")) {
                    <a class="button" id="@VehicleLookupId" href="@controllers.routes.VehicleLookup.present()">@Messages("vrm_retention_vehiclelookupfailure.button")</a>
                }
                <a id="@BackId" href="@controllers.routes.VehicleLookup.present()" class="button-secondary">@Messages("vrm_retention_businessChooseYourAddress.backbutton")</a>
                <a class="button-secondary" id="@ExitId" href="@controllers.routes.MockFeedback.present()">@Messages("vrm_retention_vehiclelookupfailure.button2")</a>
            </div>
        </div>
    </div>

}
