@(request: RequestHeader)(implicit lang: Lang,
        config: utils.helpers.Config,
        config2: utils.helpers.Config2)

@import views.html.common.{govMainDefault, protoType}
@import views.vrm_retention.OnHandlerNotFound.ExitId

@govMainDefault(Messages("onHandlerNotFound.title")) {
    <div class="app vrm-retention-online">
        @protoType()

        <div class="section-content">
            <h2>@Messages("onHandlerNotFound.header")</h2>
            <p>@Messages("onHandlerNotFound.body")</p>
            <div class="step">
                <a class="exit" id="@ExitId" href="@controllers.routes.BeforeYouStart.present()">@Messages("onHandlerNotFound.start.button")</a>
            </div>
        </div>
    </div>
}