@(request: RequestHeader)(implicit lang: Lang,
        config: utils.helpers.Config,
        dateService: uk.gov.dvla.vehicles.presentation.common.services.DateService)

@import views.html.vrm_retention.main

@main(
    title = Messages("onHandlerNotFound.title")
) {

    <h2>@Messages("onHandlerNotFound.header")</h2>
    <p>@Messages("onHandlerNotFound.body")</p>
    <div class="step">
        <a id="exit" href="@controllers.routes.BeforeYouStart.present()" class="button">@Messages("onHandlerNotFound.start.button")</a>
    </div>
}
