//Exemplar specific
.vehicle-lookup {
    .first-col {
        display:block;
        @media screen and (max-width:$device-medium) {
            display:none;
        }
    }
}


@media only screen and (min-width:768px) {
  .app.vrm-retention-online {
    .two-col {
        .first-col {
            float:left;
            width: 63%;
        }
        .second-col {
            float:right;
            width: 30%;
        }
    }
  }
}



.info-notice {
    background: none;
    border-left: 10px solid $grey-2;
    margin-bottom: 2em;
    padding: 0.5em 0 0.5em 1em;
    p {
        margin:0;
    }
}

.related {
    margin: 1.2em 0 0 0;
    border-top: 10px solid $govuk-blue;
    padding-top: 1em;
}

.second-col .related {
    margin-top: 0;
}

.summary-replacement-reg {
    dt, dd {
        display:inline;
        font-size: 1.2em;
    }
}

#{$htmlNamespace} {

    .beta-info {
        color: $grey-1;
        font-size: 0.9em;
        margin-top: 1.5em;
    }

    //radios common widget html need a parent wrapper class
    .form-item-radio {
        > .form-item > label {
            font-weight: bold;
        }
    }


    .confirm-keeper-details {
        .first-col .playback {
            background:none;
            padding:0;
        }
    }
}
