//Exemplar specific
.vehicle-lookup {

    .form-item-radio .radio .form-item {
        margin-bottom: 1.5em;
    }
//
    .first-col {
        display: block;
        @media screen and (max-width:$device-medium) {
            display: none;
        }
    }
}

.summary-replacement-reg {
    dt, dd {
        display: inline;
        font-size: 1.2em;
    }
}

#{$htmlNamespace} {

    .beta-info {
        clear: both;
        color: $grey-1;
        font-size: 0.9em;
        margin-top: 1.5em;
    }

    //radios common widget html need a parent wrapper class
    .form-item-radio {
        > .form-item > label {
            font-weight: bold;
        }
    }

    .retention-success {
        .second-col h3 {
            margin-bottom: 10px;
            font-size: 1.3em;
        }
    }
}

.panel-indent {
  margin-top: 1em;
  margin-left: 1em;
}


/*Custom styles requested by Clifton for PR
but may want to be moved to common*/

.vrm-retention-online .prototype {
    padding-bottom:0px;
}

.global-header .header-proposition h1.page-title {
    font-size:24px;
    float:right;
    margin-right:70px;
    font-weight:normal;
}

.back-navigation {
    margin-bottom:0px;
}

.app h1 {
    margin:0px;
    font-size:48px;
}

.app h2 {
    font-size:36px;
}

.app h3 {
    font-size:27px;
    font-weight:bold;
    padding-bottom:10px;
}


.vrm-retention-online legend {
   /* font-weight:bold;
    font-size:24px;*/
    padding-bottom:5px;
}

.list-title {
     font-size:19px;
}

.app ol li, .app ul li {
    margin-bottom: .1em;
}

.app ol, .app ul {
    padding-left: 15px;
}

.vrm-retention-online .form-item {
    margin: 0px 0px 1.5em;
}

.vrm-retention-online label.form-radio, .vrm-retention-online label.form-checkbox {
   /* margin:0px;*/
}

.vrm-retention-online .info-notice {
    padding: 0.6em 0px 0.6em 1em;
    font-size:20px;
}

.vrm-retention-online .button {
/*margin:0px;*/
}

.vrm-retention-online .prototype {
    border-bottom:1px solid #DCDCDC;
}

.vrm-retention-online .first-col .playback dt, .vrm-retention-online .first-col .playback dd, .vrm-retention-online .first-col .playback p {
    font-size: 19px;
}

summary {
    cursor: pointer;
}