//coloured prototype banner

#{$prototype-banner} {
    border-top: 10px solid phase-colour($phase);
    border-bottom:1px solid #DCDCDC;
    span.phase-tag {
        background:phase-tag-colour($phase);
        color:$white;
        &.alpha {
            background: phase-tag-colour($phase);
        }
        &.beta {
            background: phase-tag-colour($phase);
        }
    }
}