@media print{@page {size: portrait}}

@font-face {
    font-family: GDS-Logo;
    src: local("HelveticaNeue"),local("Helvetica Neue"),local("Arial"),local("Helvetica");
}

@-ms-viewport {
    width:device-width;
}

@-o-viewport {
    width:device-width;
}

html {
    font-size: 62.5%;
}

* {
    background: transparent;
    color: black;
    text-shadow: none;
    filter: none;
    -ms-filter: none;
}

body {
    font-family: "nta",Arial,sans-serif;
    font-size: 11pt;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    margin: 0;
    padding: 0;
    width: 100%;
    @media (max-width: 640px) {
        font-size: 1.2rem;
        line-height: 1.25;
    }
}

.vehicles-online {
    display:inline-block;
    vertical-align:top;
    padding:20px;
    margin-bottom:0;
}

.global-header h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1, h2, h3, h4 {
    margin-top:0;
    margin-bottom:15px;
}
p {
    margin-top:0;
    margin-bottom:10px;
}
h2, h3, h4, p, ul {
    orphans: 3;
    widows: 3;
}
h2, h3, h4, .info-notice {
    page-break-after: avoid;
}
.print-only {
  display:block;
}
.global-header {
    h1 {
      font-family: "nta",Arial,sans-serif;
      font-size: 14pt;
      line-height: 1.31579;
      font-weight: 400;
      text-transform: none;
      border-bottom: 1pt solid #7f7f7f;
      padding-bottom: 0;
      margin-bottom: 0;
      @media (max-width: 640px) {
          font-size: 1.6rem;
          line-height: 1.25;
      }
    }
}
h2 {
    font-family: "nta",Arial,sans-serif;
    font-size: 14pt;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    @media (max-width: 640px) {
        font-size: 1.6rem;
        line-height: 1.25;
    }
}
h3 {
    font-family: "nta",Arial,sans-serif;
    font-size: 12pt;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    @media (max-width: 640px) {
        font-size: 1.4rem;
        line-height: 1.14286;
    }
}
p {
    font-family: "nta",Arial,sans-serif;
    font-size: 11pt;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    @media (max-width: 640px) {
        font-size: 1.2rem;
        line-height: 1.25;
    }
}
li {
    line-height: 1.5em;
    p {
        margin: 0;
    }
}
h4 {
    font-family: "nta",Arial,sans-serif;
    font-size: 11pt;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    @media (max-width: 640px) {
        font-size: 1.2rem;
        line-height: 1.25;
    }
}
table {
    border: 1pt solid #7d7d7d;
    border-collapse: collapse;
    width: 100%;
    thead {
        display: table-header-group;
    }
    th, td {
        border: 1pt solid #7d7d7d;
        padding: 0.25em 0.5em;
        text-align: left;
    }
    td:nth-child(n+2) {
        text-align: right;
    }
    caption {
        font-family: "nta",Arial,sans-serif;
        font-size: 14pt;
        line-height: 1.31579;
        font-weight: 400;
        text-transform: none;
        margin: 14pt 0;
        @media (max-width: 640px) {
            font-size: 1.6rem;
            line-height: 1.25;
        }
    }
}
ul, ol {
    font-family: "nta",Arial,sans-serif;
    font-size: 11pt;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    padding-left: 13pt;
    list-style-image: none;
    list-style-type: disc;
    @media (max-width: 640px) {
        font-size: 1.2rem;
        line-height: 1.25;
    }
}
dl {
    dt {
        font-weight:bold;
    }
    dd {
        margin:0;
    }
}

a {
    text-decoration: underline;
    word-wrap: break-word;
    &:visited {
        text-decoration: underline;
        word-wrap: break-word;
    }
    /*
    &[href^="/"]:after {
        content: " (https://www.gov.uk" attr(href) ")";
        font-size: 90%;
    }
    &[href^="http://"]:after, &[href^="https://"]:after {
        content: " (" attr(href) ")";
        font-size: 90%;
    }
    &[href^="javascript:"]:after, &[href^="#"]:after {
        content: "";
    }
    */
}

img {
    max-width: 100% !important;
}

.print-link {
    display: none;
}

.first-col,
.second-col {
  > div {
      margin-bottom:20px;
  }
}

dl.playback {
    display:inline-block;
    vertical-align:top;
    width:100%;
    margin-top:0;
    dt {
        float:left;
        clear:both;
        min-width:165px;
    }
    dd {
        float:left;
    }
}

.enter-address-manually form {
    fieldset > .form-item {
        margin-bottom:0;
    }
}

p.transaction-id {
    font-weight:bold;
    br {
        display:none;
    }
}


.global-header {
    background:transparent;
    padding: {
      top:20px;
      right:20px;
      bottom:0;
      left:20px;
    }
    margin:0;

    .header-logo {
        position: relative;
        display: block;
        //width: 166px;
        //height:30px;
        overflow: hidden;
        a {
            font-size:26pt;
            font-weight:bold;
            text-decoration:none;
            &[href^="http://"]:after,
            &[href^="https://"]:after {
                content:'';
            }

        }
        &:after {
            display: none;
        }
    }
    h1 {
        border:0 none;
    }
    .header-proposition ul {
        display:none;
    }
}

.form-item {
    clear:both;
    display:inline-block;
    vertical-align:top;
    width:100%;
    margin:0 0 10px 0;
}
.form-declaration {
    margin-bottom:0 !important;
}

fieldset {
    margin:0;
    padding:0;
    border:0 none !important;
}

.form-hint,
label {
    display:block !important;
    width:100%;
}

//prevent chrome OSX from displaying grey lines in print preview
select {
    background: #fff !important;
}

.footer {
    padding: {
      top:0;
      right:20px;
      bottom:20px;
      left:20px;
    }
    ul {
        padding-left:0;
    }
    .copyright {
        margin-bottom:5px;
        text-align:right;
        a {
            text-decoration:none;
        }
        img {
            max-width:100px !important;
        }
    }
}

//page specific
.vehicles-online .img-wrap img {
    width:200px;
}


//hide specific elements/sections
.print-message,
.vehicles-online .prototype,
.footer .footer-meta-inner,
body .actions,
.visuallyhidden,
#local-locator-form,
#location-loading,
#get-started,
.finding_location,
.found_location,
.loading_location,
.location_error,
.enter-address-manually legend,
.enter-address-manually label,
.enter-address-manually label em,
.form-inline label,
.trader-details .img-wrap-desktop,
#global-cookie-message,
#global-browser-prompt,
.report-a-problem-toggle,
.report-a-problem-container,
button,
.button,
.button-secondary,
.button-not-implemented,
.button-text,
.pdf-link {
    display: none !important;
}

.enter-address-manually fieldset > .form-item > .form-item:last-child label {
    display:block !important;
}
