//Main scss file, no scss/css should be written here

//web layer specific config
@import "scss/base/_config";

//importing custom fonts
@import "scss/base/_custom-fonts";

//presentation-common (shared between web layers)
@import "../../target/web/web-modules/main/webjars/lib/vehicles-presentation-common/scss/_screen.scss";

//web layer specific styles
@import "scss/base/_prototype-banner";
@import "scss/base/_template";
@import "scss/custom/_exemplar-specific";
