@(showLanguageSwitch: Boolean)(implicit lang: Lang)

@import uk.gov.dvla.vehicles.presentation.common.controllers
@import uk.gov.dvla.vehicles.presentation.common.controllers.AlternateLanguages.{CyId, EnId}

@if(lang.code != CyId && showLanguageSwitch) {
      <a id="@CyId" href="@controllers.routes.AlternateLanguages.withLanguage(chosenLanguage = CyId)">@Messages("language.cy.button")</a>
}

@if(lang.code != EnId && showLanguageSwitch) {
      <a id="@EnId" href="@controllers.routes.AlternateLanguages.withLanguage(chosenLanguage = EnId)">@Messages("language.en.button")</a>
}

