@(title: String)(content: Html)(implicit lang: Lang,
        config: utils.helpers.Config)

@import views.html.common.{footer, header}

<!DOCTYPE html>
    <!--[if IE 6]>         <html class="ie ie6" lang="en"> <![endif]-->
    <!--[if IE 7]>         <html class="ie ie7" lang="en"> <![endif]-->
    <!--[if IE 8]>         <html class="ie ie8" lang="en"> <![endif]-->
    <!--[if IE 9]>         <html class="ie ie9" lang="en"> <![endif]-->
    <!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

    @header(title = title)

    <body>
    
        <a href="#main" class="visuallyhidden">Skip to main content</a>

        <div id="global-cookie-message">
            <div class="cookie-message-wrapper">
                <p>@{Messages("global.cookiemessage")}&nbsp;<a href="@routes.CookiePolicy.present()">@{Messages("global.cookiefindoutmore")}</a></p>
            </div>
        </div>

        <div role="banner" class="global-header" id="global-header">
            <div class="header-wrapper">
                <div class="content">
                    <div class="header-global">
                        <div class="header-logo">
                            <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" class="logo">
                              <img src="@controllers.StaticAssets.versioned(config.assetsUrl)("lib/vehicles-presentation-common/images/gov.uk_logotype_crown.png")" width="35" height="31" alt="@Messages("gov-uk")">@Messages("gov-uk")
                            </a>
                        </div>

                    </div>
                    <div class="header-proposition">
                        <div class="content">
                            <div class="proposition-menu">
                                <h1 class="page-title"><strong>@{Messages("main.banner")}</strong></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end header-->

        <div role="main" id="main">
            @content
        </div>

        @footer()

        <div id="global-app-error" class="app-error hidden"></div>

        <!--[if (lt IE 9) & (!IEMobile)]>
        <script src='@controllers.StaticAssets.versioned(config.assetsUrl)("javascripts/lib/respond.min.js")'></script>
        <![endif]-->

        <script type="text/javascript">
            document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
        </script>
    </body>
</html>
