@(title: String)(implicit lang: Lang,
        config: utils.helpers.Config)

<!--start header-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@title</title>

    <link rel="stylesheet" href="@routes.Assets.at("screen.min.css")" media="screen" type="text/css">

    <link rel="stylesheet" href="@routes.Assets.at("print.min.css")" media="print" type="text/css">

    <link rel="shortcut icon" href="@routes.Assets.at("lib/vehicles-presentation-common/images/favicon.ico")" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("lib/vehicles-presentation-common/images/apple-touch-icon-57x57.png")">
    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("lib/vehicles-presentation-common/images/apple-touch-icon-72x72.png")" sizes="72x72">
    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("lib/vehicles-presentation-common/images/apple-touch-icon-76x76.png")" sizes="76x76">
    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("lib/vehicles-presentation-common/images/apple-touch-icon-114x114.png")" sizes="114x114">
    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("lib/vehicles-presentation-common/images/apple-touch-icon-120x120.png")" sizes="120x120">
    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("lib/vehicles-presentation-common/images/apple-touch-icon-144x144.png")" sizes="144x144">
    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("lib/vehicles-presentation-common/images/apple-touch-icon-152x152.png")" sizes="152x152">

    @if(config.googleAnalyticsTrackingId != "NOT FOUND") {
        @*
        https://support.google.com/analytics/answer/1008080?hl=en&utm_id=ad
        Paste it immediately before the closing </head> tag.
        *@
        <!-- Google Analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '@{config.googleAnalyticsTrackingId}', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->
    }
</head>
<!--end header-->