@()(implicit lang: Lang,
    token: uk.gov.dvla.vehicles.presentation.common.filters.CsrfPreventionAction.CsrfPreventionToken,
    config2: utils.helpers.Config)

@import controllers.routes.Help
@import uk.gov.dvla.vehicles.presentation.common.views.html.widgets.base.csrfTokenHiddenField
@import views.common.Help.ExitId
@import views.html.helper.form
@import views.html.vrm_retention.main
@import views.vrm_retention.Main.BackId

@main(
    title = Messages("vrm_retention.help.title")
) {
    <p>@Messages("vrm_retention.help.p1")</p>
    <p>@Messages("vrm_retention.help.p2.1") <a href=@Messages("vrm_retention.help.email")> @Messages("vrm_retention.help.p2.2") </a></p>

    @form(action = Help.back) {
        <div class="form-steps">
            @csrfTokenHiddenField()
            @* Note the reverse routing syntax for the hyperlink *@
            <button class="back" id="@BackId" type="submit" name="action">@Messages("vrm_retention.help.back_button")</button>
            <br/>
            <a class="exit" id="@ExitId" href="@controllers.routes.BeforeYouStart.present()">@Messages("vrm_retention.help.exit_button")</a>
        </div>
    }
}