@(details: scala.collection.mutable.LinkedHashMap[String, String])(implicit lang: Lang, config: utils.helpers.Config)

    @if(config.liveAgentEnvironmentId.isDefined){
        <!-- live agent deployment -->
        <script type='text/javascript'
                src='@config.liveAgentjsUrl'></script>
        <script type='text/javascript'>liveagent.init('@config.liveAgentUrl', '@config.liveAgentEnvironmentId', '@config.liveAgentOrgId'); </script>

        <img id="liveagent_button_online_@config.liveAgentButtonId" style="display: none; border: 0px none; cursor: pointer" onclick="liveagent.startChat('@config.liveAgentButtonId')" src="@controllers.StaticAssets.versioned(config.assetsUrl)("images/ChatIcon02Nov15.png")" />
        <script type="text/javascript">
            if (!window._laq) { window._laq = []; }
            window._laq.push(function(){liveagent.showWhenOnline('@config.liveAgentButtonId', document.getElementById('liveagent_button_online_@config.liveAgentButtonId'));
            });
            @for((label,value) <- details) {
                liveagent.addCustomDetail("@label","@value")
            }
        </script>
    }
